html, body {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Kosugi';
}

input, textarea {
  border: 0.2rem solid black !important;
}

#content {
  min-height: 100vh;
  padding: 2em;
}

/*         UPPER CONTENT          */
/* CONTAINER FOR INPUTS AND SUBMIT */
#newUnit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

#inputValues {
  font-size: 1.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}

#inputValues > div {
  margin-bottom: 0em;
}

#inputValues .numberInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#inputValues .numberInput * {
  padding: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.2em;
  text-align: right;
}

#inputValues .numberInput input {
  margin-right: 1em;
  width: 5em;
}

#unitData {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 1em;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 80%;
          flex: 1 1 80%;
}

#unitData #unitName {
  padding: 1em;
  font-size: 1.2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid gray;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#unitData #unitDescription {
  padding: 1em;
  font-size: 1.4em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid gray;
  width: 100%;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  resize: none;
}

#submitData {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 10%;
          flex: 1 1 10%;
}

#submitData button {
  padding: 0.8em;
  font-size: 2em;
  border: 0.1em solid white;
  cursor: pointer;
  border-radius: 0.5em;
  background: springgreen;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#submitData button:hover {
  background: transparent;
}

/*         LOWER CONTENT          */
#units {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 2em;
  padding: 2em;
  /*border: 1em solid forestgreen;*/
}

#units h2 {
  font-size: 2em;
}

.listUnit {
  position: relative;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 5em;
  margin: 0.5em;
  border: 0.2em solid forestgreen;
  border-radius: 1em;
  font-size: 1.6em;
}

.listUnit p, .listUnit h3 {
  margin: 1em;
}

.unitValues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  width: 100%;
}

.controls button {
  margin: 0;
  background: whitesmoke;
  padding: 1em 2em;
  font-size: 1.4em;
  outline-color: springgreen;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.unitValues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.removeButton {
  position: absolute;
  background: none;
  border: none;
  right: 1em;
  top: 40%;
  cursor: pointer;
  color: firebrick;
  font-size: 1.6em;
}

#total {
  font-size: 1em;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-top: 2em;
  padding: 2em;
  /*border: 1em solid forestgreen;*/
}

#total h2 {
  font-size: 1.4rem;
}

#total p {
  font-size: 1.6rem;
}

@media screen and (min-width: 1025px) {
  #total h2 {
    font-size: 1rem !important;
  }
  #total p {
    font-size: 1rem !important;
  }
}
/*# sourceMappingURL=master.css.map */